.logo {
    
}

#logo-tagline {
    max-width: 100%;
    width: 10%;
}

/*styling navbar*/
.navbar {
    max-width: 75%;
} 

.bg-light {
    background-color: #372266 !important;
}

.nav-item a{
    color: white !important;
}

#dummy {
    max-width: 100%;

}

#woman {
    max-width: 100%;
    width: 100%;

}

#father-and-son {
    max-width: 100%;

}

@media (min-width: 1200px)  {


}

@media (min-width: 768px) {
    
}